<div class="container">
  <div class="card">
    <div class="pic" style="background: orange;"></div>
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
    </div>
  </div>
  
  <div class="card">
    <div class="pic" style="background: blue;"></div>
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
    </div>
  </div>
  
  <div class="card">
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
      <footer>
        <div class="author">
          <a href="#">Brittany Chiang</a>
         </div>
      </footer>
    </div>
  </div>
  
  <div class="card">
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
    </div>
  </div>
  
  <div class="card">
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
    </div>
  </div>
 
  <div class="card">
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
    </div>
  </div>
</div>
