<div class="container">
  <div class="card">
    <div class="pic">
      <img src="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/raw/final/result_25k.png" style="transform: scale(1.75, 1.75) translateY(-60px);"/>
    </div>
    <div class="content">
      <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/">
        <header>
<!--           <span>Category</span> -->
          <h2>Ray Tracing</h2>
        </header>
        <section>
          <p>
            A parallelized ray tracing algorithm in CUDA based off of Kevin Beason's serialized implementation.
          </p>
        </section>
      </a>
      <footer>
          <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/"><i class="icon fa fa-github-alt"></i></a>
      </footer>
    </div>
  </div>
  
  <div class="card">
    <div class="pic" style="background: blue;"></div>
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
      <footer>
          <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/"><i class="icon fa fa-github-alt"></i></a>
      </footer>
    </div>
  </div>
  
  <div class="card">
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
      <footer>
          <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/"><i class="icon fa fa-github-alt"></i></a>
      </footer>
    </div>
  </div>
  
  <div class="card">
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
      <footer>
          <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/"><i class="icon fa fa-github-alt"></i></a>
      </footer>
    </div>
  </div>
  
  <div class="card">
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
      <footer>
          <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/"><i class="icon fa fa-github-alt"></i></a>
      </footer>
    </div>
  </div>
 
  <div class="card">
    <div class="content">
      <a href="#">
        <header>
          <span>Category</span>
          <h2>Card Title Here</h2>
        </header>
        <section>
          <p>
            The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
          </p>
        </section>
      </a>
      <footer>
          <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/"><i class="icon fa fa-github-alt"></i></a>
      </footer>
    </div>
  </div>
</div>
