.page-header {
    color: #fff;
    text-align: center;
    background-color: #000C40;
    background-image: linear-gradient(120deg, #F0F2F0, #000C40);
    
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}

.btn {
 z-index: 2;   
}

#particles-js {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width:100% !important;
    height:100vh !important;
  }
}
